
/** -------------------- GLOBAL RESET -------------------- **/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
    
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
    
img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

a {
    text-decoration: none;
    color: #333;
}
    
ul, li[role='list'] {
    list-style: none;
}

html:focus-within{
    scroll-behavior: smooth; 
}
    
input, button, textarea, select {
    font: inherit;
}
    
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
    
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
    
#root, #__next {
    isolation: isolate;
}

/** -------------------- VARIABLES --------------------  **/

:root {
    /* PRIMARY COLORS */
    --arctic: #d0ebff;
    --sky-blue: #339af0;
    --deep-sea: #1c7ed6;

  /* SECONDARY COLORS */
    --moonlight-iris: #e5dbff;
    --lavendar: #9775fa;
    --velvet-night: #7048e8;

    /* TERTIARY COLORS */
    --dawn: #ffe8cc;
    --pumpkin: #ff922b;
    --lava: #f76707;

    /* GREY SHADES */
    --pebble: #f1f3f5;
    --slate: #495057;
    --graphite: #212529;
    --black: #000;
    --white: #fff;

    /* TEXT SIZES */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 3.75rem; /* 60px */
    --text-7xl: 4.5rem; /* 72px */
    --text-8xl: 6rem; /* 96px */
    --text-9xl: 8rem; /* 128px */

    /* SIZING */
    --size-5: 0.3125rem;   /* 5px */
    --size-10: 0.625rem;  /* 10px */
    --size-15: 0.9375rem; /* 15px */
    --size-20: 1.25rem;   /* 20px */
    --size-25: 1.5625rem; /* 25px */
    --size-30: 1.875rem;  /* 30px */
    --size-40: 2.5rem;    /* 40px */
    --size-50: 3.125rem;  /* 50px */
    --size-60: 3.75rem;   /* 60px */
    --size-70: 4.375rem;  /* 70px */
    --size-80: 5rem;      /* 80px */
    --size-90: 5.625rem;  /* 90px */
    --size-100: 6.25rem;  /* 100px */
    --size-110: 6.875rem; /* 110px */
    --size-120: 7.5rem;   /* 120px */
    --size-130: 8.125rem; /* 130px */
    --size-140: 8.75rem;  /* 140px */
    --size-150: 9.375rem; /* 150px */
    --size-160: 10rem;    /* 160px */
    --size-170: 10.625rem;/* 170px */
    --size-180: 11.25rem; /* 180px */
    --size-190: 11.875rem;/* 190px */
    --size-200: 12.5rem;  /* 200px */
    --size-300: 18.75rem;  /* 300px */
    --size-400: 25rem;     /* 400px */
    --size-500: 31.25rem;  /* 500px */    

    /* MISCELLANEOUS */
    --nav-height: 100px
}

/** -------------------- GLOBAL STYLES -------------------- **/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--slate);
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: var(--graphite);
}

h1 {
    font-size: var(--text-6xl);
}

h2 {
    font-size: var(--text-5xl);
}

h3 {
    font-size: var(--text-4xl);

}
h4 {
    font-size: var(--text-3xl);
}

h5 {
    font-size: var(--text-2xl);
}

p {
    font-size: var(--text-base);
}

a {
    font-size: var(--text-base);
    display: inline-block;
}

span {
    display: inline-block;
}

/** -------------------- COMPONENTS -------------------- **/

.small-text {
    font-size: var(--text-xs);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.btn {
    font-weight: 400;
    font-size: var(--text-base);
    padding: var(--size-15) var(--size-30);
    border-radius: 8px;
}

.btn-primary:link, 
.btn-primary:visited {
    background-color: var(--sky-blue);
    color: var(--white);
    border: 2px solid var(--sky-blue);
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--deep-sea);
    color: var(--white);
    border: 2px solid var(--deep-sea);
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
    color: var(--sky-blue);
    background-color: var(--white);
    border: 2px solid var(--sky-blue);
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
    color: var(--deep-sea);
    background-color: var(--white);
    border: 2px solid var(--deep-sea);
}

.btn-secondary:link,
.btn-secondary:visited {
    background-color: var(--lavendar);
    color: var(--white);
    border: 2px solid var(--lavendar);
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: var(--velvet-night);
    color: var(--white);
    border: 2px solid var(--velvet-night);

}

.btn-secondary-outline:link,
.btn-secondary-outline:visited {
    color: var(--lavendar);
    background-color: var(--white);
    border: 2px solid var(--lavendar);
}

.btn-secondary-outline:hover,
.btn-secondary-outline:active {
    color: var(--velvet-night);
    background-color: var(--white);
    border: 2px solid var(--velvet-night);
}

.highlight {
    color: var(--white);
    padding: var(--size-5) var(--size-10);
    border-radius: 4px;
}

.highlight-primary {
    background-color: var(--sky-blue);
}

.highlight-secondary {
    background-color: var(--lavendar);
}

.highlight-tertiary {
    background-color: var(--pumpkin);
}

.logo-sm {
    width: 80px;
}

.logo-md {
    width: 100px;
}

/** -------------------- SECTIONS -------------------- **/

/** ----- NAVBAR ----- **/
.navbar {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn-container {
    display: flex;
    gap: 1.5rem;
}

/** ----- HERO SECTION ----- **/

.hero-section {
    height: calc(100vh - var(--nav-height));
    min-height: 400px;
    text-align: center;
    margin-bottom: var(--size-100);
}

.hero-heading {
    margin-bottom: var(--size-10);
}

.hero-paragraph {
    margin-bottom: var(--size-50);
}

/** ----- FEATURES SECTION ----- **/

.features-section {
    margin-bottom: var(--size-300);
}

.features-main-heading {
    text-align: center;
    margin-bottom: var(--size-80);
}

.features-heading {
    margin-bottom: var(--size-20);
}

.features-img {
    max-width: 400px;
    width: 100%;
}

/** ----- CTA SECTION ----- **/

.cta-section {
    text-align: center;
    margin-bottom: var(--size-300);
}

.cta-card {
    text-align: center;
    background-color: var(--sky-blue);
    max-width: 1000px;
    padding: var(--size-100) var(--size-200);
    border-radius: 20px;
    margin: 0 auto;
}

.cta-heading {
    margin-bottom: var(--size-30);
}

/** ----- FOOTER ----- **/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.social-icons-container {
    display: flex;
    gap: .5rem;
}

.social-icons {
    width: 20px;
}

.footer-links-container {
    display: flex;
    gap: .5rem;
}

/** -------------------- MEDIA QUERIES -------------------- **/

@media(max-width: 1200px) {

}

@media(max-width: 990px) {
    
}

@media(max-width: 770px) {

}

@media(max-width: 575px) {

}