
/** -------------------- RESET -------------------- **/

*, *::before, *::after {
    box-sizing: border-box;
}
    
* {
    margin: 0;
    padding: 0;
}
    
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
    
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}
    
ul, li[role='list'] {
    list-style: none;
}
    
input, button, textarea, select {
    font: inherit;
}
    
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
    
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
    
#root, #__next {
    isolation: isolate;
}

/** -------------------- VARIABLES --------------------  **/

:root {
    /* PRIMARY COLORS */
    --arctic: #d0ebff;
    --sky-blue: #339af0;
    --deep-sea: #1c7ed6;

  /* SECONDARY COLORS */
    --moonlight-iris: #e5dbff;
    --lavendar: #9775fa;
    --velvet-night: #7048e8;

  /* TERTIARY COLORS */
    --dawn: #ffe8cc;
    --pumpkin: #ff922b;
    --lava: #f76707;

  /* GREY SHADES */
    --pebble: #f1f3f5;
    --slate: #495057;
    --graphite: #212529;
}

/** -------------------- GLOBAL STYLES -------------------- **/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--slate);
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: var(--graphite);
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;

}
h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    font-size: 16px;
}

/** -------------------- COMPONENTS -------------------- **/

.small-text {
    font-size: 12px;
}

.btn {
    font-weight: 400;
    font-size: 16px;
}

.btn-primary:link, 
.btn-primary:visited {
    color: var(--sky-blue);
}

.btn-primary:hover,
.btn-primary:active {
    color: var(--deep-sea)
}

.btn-secondary:link,
.btn-secondary:visited {
    color: var(--lavendar);
}

.btn-secondary:hover,
.btn-secondary:active {
    color: var(--velvet-night);
}

/** -------------------- SECTIONS -------------------- **/

/** ----- HERO SECTION ----- **/

.hero-section {
    text-align: center;
}

/** ----- FEATURES SECTION ----- **/

.features-main-heading {
    text-align: center;
}

/** ----- CTA SECTION ----- **/

.cta-section {
    text-align: center;
}

/** ----- FOOTER ----- **/
.footer {
    text-align: center;
}

/** -------------------- MEDIA QUERIES -------------------- **/

@media(max-width: 1200px) {

}

@media(max-width: 990px) {
    
}

@media(max-width: 770px) {

}

@media(max-width: 575px) {

}